<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="billAction" class="cn.itcast.erp.invoce.bill.action.BillAction" scope="prototype">
		<property name="billEbi" ref="billEbi"/>
	</bean>

	<bean id="billEbi" class="cn.itcast.erp.invoce.bill.business.ebo.BillEbo">
		<property name="billDao" ref="billDao"/>
	</bean>

	<bean id="billDao" class="cn.itcast.erp.invoce.bill.dao.impl.BillImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
