<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="goodsAction" class="cn.itcast.erp.invoce.goods.action.GoodsAction" scope="prototype">
		<property name="goodsEbi" ref="goodsEbi"/>
		<property name="goodsTypeEbi" ref="goodsTypeEbi"/>
		<property name="supplierEbi" ref="supplierEbi"/>
	</bean>
	
	<bean id="goodsEbi" class="cn.itcast.erp.invoce.goods.business.ebo.GoodsEbo">
		<property name="goodsDao" ref="goodsDao"/>
	</bean>

	<bean id="goodsDao" class="cn.itcast.erp.invoce.goods.dao.impl.GoodsImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
