<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="operDetailAction" class="cn.itcast.erp.invoce.storeoper.action.OperDetailAction" scope="prototype">
		<property name="operDetailEbi" ref="operDetailEbi"/>
	</bean>

	<bean id="operDetailEbi" class="cn.itcast.erp.invoce.storeoper.business.ebo.OperDetailEbo">
		<property name="operDetailDao" ref="operDetailDao"/>
	</bean>

	<bean id="operDetailDao" class="cn.itcast.erp.invoce.storeoper.dao.impl.OperDetailImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
